<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/pic3.png">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <script src="/js/javaScpt.js" defer></script>

    <title>Web Servers</title>
</head>

<body>
    <div class="homeDiv">
        {{>header}}
<p>Use this site to get your WEATHER! </p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p class="errorMess"></p>
        <p class="result"></p>
    </div>
    {{>footer}}
</body>

</html>